/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* base */
@import '@/app/base.css';

/* Mantine UI */
@import '@/app/mantine-globals.css';


/* Custom CSS */
:root {
  --max-width-container: 1200px;
  --side-padding: 25px;
  --side-padding-lg: 30px;
  --navbar-height: 62px;
  --navbar-height-lg: 80px;
}

.wrapper {
  display: grid;
  grid-template-columns:
  1fr
  min(calc(100% - 2 * var(--side-padding)), 100%)
  1fr;

  @screen lg {
    grid-template-columns:
    1fr
    min(calc(100% - 2 *var(--side-padding-lg)), 100%)
    1fr;
  }

  & > * {
    grid-column: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-container);
  }
}

.full-bleed {
  grid-column: 1 / -1;
}

